<!-- src/app/book-detail-modal/book-detail-modal.component.html -->
<div class="book-detail-modal" [class.open]="isOpen">
  <div class="modal-content" *ngIf="book">
    <div class="modal-header">
      <button class="close-btn" (click)="closeModal()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="book-image-container">
        <img [src]="book.imageUrl" alt="{{ book.title }}" class="book-image">
      </div>
      <h2>{{ book.title }}</h2>
      <div class="section-divider"></div>
      <div class="details-section">
        <div class="detail-item" *ngIf="book.authors && book.authors.length">
          <p><strong>Authors:</strong></p>
          <p>{{ book.authors.join(', ') }}</p>
        </div>
        <div class="section-divider"></div>
        <div class="detail-item" *ngIf="book.publishedDate">
          <p><strong>Published Date:</strong></p>
          <p>{{ book.publishedDate }}</p>
        </div>
        <div class="section-divider"></div>
        <div class="detail-item" *ngIf="book.categories && book.categories.length">
          <p><strong>Categories:</strong></p>
          <p>{{ book.categories.join(', ') }}</p>
        </div>
        <div class="section-divider"></div>
        <p>{{ book.apiDescription }}</p>
      </div>
      <div class="section-divider"></div>
      <div class="price-container">
        <p>{{ book.price | currency }}</p>
      </div>
      <div class="actions-container">
        <div class="quantity-container">
          <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
          <span>{{ quantity }}</span>
          <button class="quantity-btn" (click)="increaseQuantity()">+</button>
        </div>
        <button class="add-to-cart-button" (click)="addToCart(book._id)">Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="modal-content" *ngIf="!book">
    <p>Loading...</p>
  </div>
</div>
