<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-brand">
      <i class="fas fa-book"></i> EbookEmporium
    </a>
    <div class="navbar-links" [class.hidden]="isMenuModalOpen">
      <a routerLink="/books">Books</a>
      <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>
      <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
      <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
      <button class="cart-button" (click)="toggleCartSidebar()">
        <i class="fas fa-shopping-cart"></i>
      </button>
    </div>
    <button class="menu-button" (click)="openMenuModal()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>

<!-- Menu Modal for Mobile -->
<div id="menuModal" class="modal" [ngClass]="{'show': isMenuModalOpen}" (click)="closeMenuModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeMenuModal()">&times;</span>
    <a routerLink="/books" (click)="closeMenuModal()">Books</a>
    <a *ngIf="!isLoggedIn" routerLink="/register" (click)="closeMenuModal()">Register</a>
    <a *ngIf="!isLoggedIn" routerLink="/login" (click)="closeMenuModal()">Login</a>
    <a *ngIf="isLoggedIn" (click)="logout(); closeMenuModal()">Logout</a>
    <a routerLink="/cart" (click)="closeMenuModal()">Cart</a>
  </div>
</div>

<router-outlet></router-outlet>
<app-cart-sidebar [isOpen]="isCartSidebarOpen" (close)="onCartClose()"></app-cart-sidebar>
<app-notification-modal #notificationModal></app-notification-modal>
