/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  padding-top: 70px; /* Adjust the value according to the height of the navbar */
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-brand i {
  margin-right: 10px;
  scale: 1.5;
}

.navbar-title {
  display: block;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px; /* Margen a la izquierda */
}

.top-search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 100%;
  max-width: 400px;
}

.top-search-button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-search-button:hover {
  background-color: #333;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-links a:hover {
  background-color: #495057;
  border-radius: 5px;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-button,
.menu-button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-button i,
.menu-button i {
  font-size: 1.5em;
}

.cart-button:hover,
.menu-button:hover {
  color: #ffffff;
}

/* Ocultar elementos */
.hidden {
  display: none !important;
}

/* Mostrar modal */
.modal.show {
  display: flex;
  align-items: center; /* Alinear contenido al centro para que aparezca centrado */
  justify-content: center; /* Alinear contenido al centro */
}

/* Mobile Options */
.mobile-options {
  display: none;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mobile-option-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mobile-option-button:hover {
  background-color: #0056b3;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center; /* Centrar el contenido */
}

.modal-content a {
  display: block; /* Hacer que los enlaces se apilen verticalmente */
  padding: 10px 0;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.modal-content a:hover {
  background-color: #f0f0f0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-title {
    display: none;
  }

  .navbar-links {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .search-container {
    flex-grow: 1;
    justify-content: center;
    margin-left: 0; /* Eliminar margen izquierdo en vista móvil */
  }

  .mobile-options {
    display: flex;
  }

  /* Mostrar el modal solo en modo responsive cuando se abre */
  .modal {
    display: none;
  }

  .modal.show {
    display: flex;
  }

  .categories-sort-section {
    display: flex;
  }
}

/* Ajustes para centrar la barra de búsqueda en vista normal */
@media (min-width: 769px) {
  .navbar-container {
    justify-content: space-around; /* Asegura que los elementos estén distribuidos uniformemente */
  }

  .search-container {
    max-width: 600px; /* Ajusta el ancho máximo de la barra de búsqueda */
    width: 100%; /* Asegura que tome el 100% del espacio disponible */
  }

  .navbar-links,
  .navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Centra los enlaces y botones */
    gap: 1rem; /* Espacio entre los elementos */
  }
}

/* Hide modal and menu button on larger screens */
@media (min-width: 769px) {
  .modal {
    display: none !important;
  }

  .menu-button {
    display: none;
  }

  .categories-sort-section {
    display: none; /* Ocultar en vista normal */
  }
}

/* Margin between navbar and content */
main {
  padding-top: 70px;
}

/* Dropdown Styles */
.categories-sort-section {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  overflow: hidden; /* Asegura que los dropdowns no se desborden */
  flex-wrap: wrap; /* Permite que los elementos se ajusten si es necesario */
}

.dropdown {
  position: relative;
  display: inline-block;
  max-width: calc(50% - 10px); /* Asegura que el dropdown no se desborde en dispositivos pequeños */
}

.dropdown-button {
  background-color: transparent;
  color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-button i {
  margin-left: 10px;
}

.dropdown-button:hover {
  background-color: #f0f0f0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  flex-direction: column;
  width: 100%;
  left: 0; /* Alinea el dropdown con el botón */
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.dropdown-content .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content .dropdown-item:hover {
  background-color: #ddd;
}

.dropdown-button:focus + .dropdown-content,
.dropdown-content:hover {
  display: flex;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .categories-sort-section {
    flex-direction: row; /* Mantiene los dropdowns en una sola línea */
    flex-wrap: nowrap; /* Evita que los elementos se ajusten en una nueva línea */
  }

  .dropdown-content {
    position: static;
    width: auto; /* Asegura que el dropdown se ajuste al contenido */
    box-shadow: none; /* Elimina la sombra para que el dropdown se vea mejor en dispositivos móviles */
  }
}
