.notification-modal {
  position: fixed;
  top: 10px; /* Adjust according to your navigation bar height */
  left: 50%;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
  transform: translateX(-50%);
}

.notification-modal.success {
  background-color: #4CAF50; /* Green for success */
  color: white;
}

.notification-modal.error {
  background-color: #f44336; /* Red for error */
  color: white;
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-content p {
  margin: 0;
  padding-right: 10px;
  font-size: 1em;
}

.notification-content button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.notification-content button:hover {
  color: #ff5555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
